<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head></head>
<meta charset="UTF-8"></meta>

<body>
<h1 th:text="${titulo}"></h1>
	<form th:action="@{/vehiculos/save}" th:object="${vehiculo}" method="post">
	
		<label for="marca">Marca:</label>
		<input type="text" th:field="*{marca}">
		<p th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}"></p>
		
		<label for="modelo">Modelo:</label>
		<input type="text" th:field="*{modelo}">
		<p th:if="${#fields.hasErrors('modelo')}" th:errors="*{modelo}"></p>
		
		<label for="placa">Placa:</label>
		<input type="text" th:field="*{placa}">
		<p th:if="${#fields.hasErrors('placa')}" th:errors="*{placa}"></p>
		
		<input type="submit" th:value="${boton}" ></input>
		<a th:href="@{/vehiculos/list}" >Cancelar</a>
		
		<input type="hidden" th:field="*{codigo}">
	
	</form>
</body>
</html>