<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link th:href="@{/css/styles.css}" rel="stylesheet">
<link th:href="@{/css/normalize.css}" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a0e0d9b7b0.js" crossorigin="anonymous"></script>

</head>
<meta charset="UTF-8"></meta>

<body>




<div class="grid-contenedor">
		<div class="hero-nav">
			<nav class="navegacion">
					<a th:href="@{/home}">Inicio</a>
					<a th:href="@{/vehiculos/list}">Mis Vehiculos</a>
					<a th:href="@{/reservas/list}">Mis Reservas</a>
					<a href="#">Perfil</a>
					<a th:href="@{/logout}">Cerrar Sesion</a>
			</nav>
		</div>
		
		<div class="contenedor contenedor-vehiculo">
			<h1 th:text="${titulo}"></h1>
			<form th:action="@{/vehiculos/save}" th:object="${vehiculo}" method="post" class="formulario">
				<div>
					<div>
						<label for="marca">Marca:</label>
						<input type="text" th:field="*{marca}">
						<p th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}"></p>
					</div>
					
					<div>
					<label for="modelo">Modelo:</label>
					<input type="text" th:field="*{modelo}">
					<p th:if="${#fields.hasErrors('modelo')}" th:errors="*{modelo}"></p>
					</div>
					
					<div>
					<label for="placa">Placa:</label>
					<input type="text" th:field="*{placa}">
					<p th:if="${#fields.hasErrors('placa')}" th:errors="*{placa}"></p>
					<p th:if="${error_placa}" th:text="${error_placa}"></p>
					</div>
					
					<div>
					<input type="submit" th:value="${boton}" ></input>
					<a th:href="@{/vehiculos/list}" >Cancelar</a>
					</div>
					
					<input type="hidden" th:field="*{codigo}">
					<input type="hidden" name="usuario" th:value="${usuarioSesion.codigo}">
					<h1 th:text="${usuarioSesion.codigo}"></h1>
				</div>
			</form>
		</div>
    </div>
</body>


</body>
</html>