<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<meta charset="UTF-8"></meta>

<body>

	<a th:href="@{/vehiculos/new}">Nuevo vehiculo</a>
	<table id="table-1">
		<thead>
			<tr>
				<th>Id</th>
				<th>Marca</th>
				<th>Modelo</th>
				<th>Placa</th>
				<th>Operación</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="veh: ${listVehiculos}">
				<td th:text="${veh.codigo}"></td>
				<td th:text="${veh.placa}"></td>
				<td th:text="${veh.marca}"></td>
				<td th:text="${veh.modelo}"></td>
				<td><a th:href="@{/vehiculos/delete?id=} + ${veh.codigo}">Eliminar</a></td>
				<td><a th:href="@{/vehiculos/update/} + ${veh.codigo}">Actualizar</a></td>
			</tr>
		</tbody>

	</table>
    
</body>

</html>